<app-header></app-header>
<!-- Content Wrapper. Contains page content -->
 <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <h2> All Employees</h2>
        </div><!-- /.row -->
      </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->

    <!-- Main content -->
    <section class="content">
      <div class="container-fluid">
        <div class="row mb-12">
          <div class="col-md-12">
            <table class = "table table-striped">
                <thead>
                    <tr>
                        <th> First Name</th>
                        <th> Email </th>
                        <th> Contact Number</th>
                        <th> review Number</th>
                        
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor = "let employee of employees" >
                        <td> {{ employee.bookId }} </td>
                        <td> {{ employee.bookName }} </td>
                        <td> {{ employee.author }} </td>
                        <td>
                          <tr *ngFor="let booking of employee.bookings ">
                            {{ booking.reviewTitle }}
                          </tr>
                          </td>
    
                        <td>
                          
                          <button (click) = "updateEmployee(employee.bookId)" class="btn btn-info">Update</button>
                          <button (click) = "deleteEmployee(employee.bookId)" class="btn btn-danger" style="margin-left: 10px">Delete</button>
                        </td>
                    </tr>
                </tbody>
            </table>
            
          </div>
          <!-- /.col -->
        </div>
        <!-- /.row -->

        <!-- /.row -->
      </div><!--/. container-fluid -->
    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->

  <!-- Control Sidebar -->
  <aside class="control-sidebar control-sidebar-dark">
    <!-- Control sidebar content goes here -->
  </aside>
  <!-- /.control-sidebar -->
  <app-footer></app-footer>
  <router-outlet></router-outlet>