<app-header></app-header>
 <!-- Content Wrapper. Contains page content -->
 <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <h2> Order List</h2>
        </div><!-- /.row -->
      </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->

    <!-- Main content -->
    <section class="content">
      <div class="container-fluid">
        

        <div class="row mb-12">
          <div class="col-md-12">
            
            <table class = "table table-striped">
                <thead>
                    <tr>
                        <th> Order No</th>
                        <th> Customer ID </th>
                        <th> Order Date</th>
                        <th> Status</th>
                        <th> Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor = "let booking of bookings" >
                        <td> {{ booking.order_id }} </td>
                        <td> {{ booking.customer_id }} </td>
                        <td> {{ booking.order_date }} </td>
                        <td> {{ booking.status }} </td>
                        <td>
                          <button (click) = "viewBooking(booking.order_id)" class="btn btn-info">View</button>
                        </td>
                    </tr>
                </tbody>
            </table>
            
          </div>
          <!-- /.col -->
        </div>
        <!-- /.row -->

        <!-- /.row -->
      </div><!--/. container-fluid -->
    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->

  <!-- Control Sidebar -->
  <aside class="control-sidebar control-sidebar-dark">
    <!-- Control sidebar content goes here -->
  </aside>
  <!-- /.control-sidebar -->
  <app-footer></app-footer>
  <router-outlet></router-outlet>