<app-header></app-header>
<!-- Content Wrapper. Contains page content -->
 <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <h2> All Employees</h2>
        </div><!-- /.row -->
      </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->

    <!-- Main content -->
    <section class="content">
      <div class="container-fluid">
        <div class="row mb-12">
          <div class="col-md-12">
            <table class = "table table-striped">
                <thead>
                    <tr>
                        <th> First Name</th>
                        <th> Last Name </th>
                        <th> Email </th>
                        <th> Contact Number</th>
                        <th> Address</th>
                        <th> Position</th>
                        <th> Password</th>
                        <th> Actions </th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor = "let employee of employees" >
                        <td> {{ employee.firstName }} </td>
                        <td> {{ employee.lastName }} </td>
                        <td> {{ employee.emailId }} </td>
                        <td> {{ employee.phone }} </td>
                        <td> {{ employee.address }} </td>
                        <td> {{ employee.position }} </td>
                        <td> {{ employee.password }} </td>
            
                    </tr>
                </tbody>
            </table>
            
          </div>
          <!-- /.col -->
        </div>
        <!-- /.row -->

        <!-- /.row -->
      </div><!--/. container-fluid -->
    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->

  <!-- Control Sidebar -->
  <aside class="control-sidebar control-sidebar-dark">
    <!-- Control sidebar content goes here -->
  </aside>
  <!-- /.control-sidebar -->
  <app-footer></app-footer>
  <router-outlet></router-outlet>